@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  /* color-scheme: light dark; */
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* color: #fff; */
  /* background-color: #213547; */

  background-color: #f7f7f7;
}

body {
  margin: 0;
}

@media (prefers-color-scheme: light) {
  :root {
    /* color: #213547; */
    /* background-color: #fff; */
  }
}

.dev {
  /* color: tomato; */
  border: 1px solid tomato;
}